---
http_interactions:
- request:
    method: post
    uri: https://api.cloverly.com/2019-03-beta/estimates/vehicle
    body:
      encoding: UTF-8
      string: '{"distance":{"value":"10000000","units":"miles"},"fuel_efficiency":{"value":"25","units":"mpg","of":"gasoline"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer public_key:<CLOVERY_PUBLIC_KEY>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"error":"Cloverly does not have the necessary offset are available
        to fulfill the request."}'
  recorded_at: Tue, 12 Jan 2021 22:40:45 GMT
recorded_with: VCR 6.0.0
