---
http_interactions:
- request:
    method: post
    uri: https://api.cloverly.com/2019-03-beta/estimates/vehicle
    body:
      encoding: UTF-8
      string: '{"distance":{"value":"55","units":"miles"},"fuel_efficiency":{"value":"25","units":"mpg","of":"gasoline"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer public_key:<CLOVERY_PUBLIC_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"slug":"20210107-1b4bf593204b461111426cb2661d0f23","environment":"sandbox","state":"estimated","renewable_energy_certificate":{"slug":"bandirma-wind-power-plant-project-12-months-starting-01-2016-27d156","name":"Bandirma
        Wind Power Plant Project - 12 months starting 01/2016","city":"Bezirci","province":"Balikesir","country":"Turkey","renewable_type":"wind","total_capacity":"","latlng":{"x":40.3657972,"y":28.1479911},"technical_details":"The
        project activity is developed as a Gold Standard VER project. The wind farm
        includes a total of 20 VESTAS V 90 turbines at an installed capacity of 3
        MW each, 60 MW in total. Technical feasibility, namely wind speed measurements
        and power output estimations site condition analysis was done between April
        2007 and October 2008. Predicted mean wind speed is 8.6 m/sec, which qualifies
        the site as suitable for the erection and operation of a wind park. The expected
        power generation for 60 MW installed capacity is 10.4 GWh/a for each turbine
        or 207.8 GWh/a (gross) for the entire wind park. Net power generation is expected
        to be 182.7 GWh/a. The wind park results in reducing CO2 emissions.","deprecated":"Use
        the offsets attribute. The renewable_energy_certificate attribute will be
        removed in the next version."},"micro_rec_count":19555,"micro_units":19555,"offset":{"slug":"bandirma-wind-power-plant-project-12-months-starting-01-2016-27d156","name":"Bandirma
        Wind Power Plant Project - 12 months starting 01/2016","registry_name":"Gold
        Standard","pretty_name":"Bandirma Wind Power Plant Project","city":"Bezirci","province":"Balikesir","country":"Turkey","offset_type":"Wind","offset_type_slug":"wind","total_capacity":"","latlng":{"x":40.3657972,"y":28.1479911},"technical_details":"The
        project activity is developed as a Gold Standard VER project. The wind farm
        includes a total of 20 VESTAS V 90 turbines at an installed capacity of 3
        MW each, 60 MW in total. Technical feasibility, namely wind speed measurements
        and power output estimations site condition analysis was done between April
        2007 and October 2008. Predicted mean wind speed is 8.6 m/sec, which qualifies
        the site as suitable for the erection and operation of a wind park. The expected
        power generation for 60 MW installed capacity is 10.4 GWh/a for each turbine
        or 207.8 GWh/a (gross) for the entire wind park. Net power generation is expected
        to be 182.7 GWh/a. The wind park results in reducing CO2 emissions.","available_carbon_in_kg":1536048.764,"pretty_url":"https://dashboard.cloverly.com/offsets/bandirma-wind-power-plant-project-12-months-starting-01-2016-27d156"},"total_cost_in_usd_cents":29,"estimated_at":"2021-01-07T17:13:24.608Z","equivalent_carbon_in_kg":19.555,"electricity_in_kwh":0.0,"rec_cost_in_usd_cents":4,"transaction_cost_in_usd_cents":25,"cost":{"currency":"USD","total":"0.28","transaction":"0.25","offset":"0.04"},"pretty_url":"https://dashboard.cloverly.com/receipt/20210107-1b4bf593204b461111426cb2661d0f23"}'
  recorded_at: Thu, 07 Jan 2021 17:13:24 GMT
recorded_with: VCR 6.0.0
